body{
    background-image: linear-gradient(to bottom right, rgb(26, 81, 175), rgb(248, 250, 255));
}

main{
    display: grid;   
    width: 80%;
    margin-left: 10%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

footer{   
    background-color: black;
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    margin-top: 50%;
}
.navBar{
    cursor: pointer;
    user-select: none;
    position: fixed;
    list-style: none;
    background-image: linear-gradient(to bottom, white, gray);
    width: 100%;
    z-index: 10;
}
.navBar li a{
    text-decoration: none;
    color: rgb(0,0,0);
    font-size: 150%;
}

.gameTitle, .gameDescription{
    margin-left: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to top, rgb(224, 224, 224), rgb(218, 218, 218));
    display: grid;
    min-height: 20vh;
    text-align: center;
    z-index: 1;
    font-size: calc(1rem + 1vw);
}
.gameTitle{
    grid-area: 1 / 4 / 3 / 11;
    font-weight: 800;
    font-size: calc(1rem + 2vw);
    height: 30%;
}
.gameDescription{
    margin-top: 1vh;
    grid-area: 3 / 4 / 11 / 11;
    height: auto;
}

.gameImg{
    grid-area: 1 / 1 / 7 / 4;
}

.gameImg img{
    border-radius: 10px;
    z-index: 1;
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 540px) {
    .gameDescription{
        margin-top: -3vh;
        grid-area: 3 / 4 / 11 / 11;
        height: auto;
    }
  }
  @media only screen and (max-width: 400px) {
    .gameDescription{
        margin-top: -10vh;
        grid-area: 3 / 4 / 11 / 11;
        height: auto;
    }
  }
